<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artigos Militares | Catálogo</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header><h1>Artigos Militares</h1></header>
    
    <!-- Área principal que alterna dinamicamente entre Login e Loja -->
    <main id="conteudo-principal">
        <!-- O conteúdo será injetado aqui via JavaScript -->
    </main>

    <footer style="text-align: center; padding: 20px; font-size: 0.9em; color: #888; margin-top: 50px;">
        <p>CNPJ: 38.121.150/0001-26 </p>
        <p>Endereço: Jd Peri Alto, Cachoeirinha, 253 - SP</p>
    </footer>

    <!-- Scripts do Sistema -->
    <script src="/produtos.js"></script>
    <script src="/carrinho.js"></script>
    <script src="/login.js"></script>
    <script src="/main.js"></script>
</body>
</html>